<%= link_to user_posts_path(post.user.id) do %>
<div>
  <p><%= t('post')%> #<%= post.id%></p>
  <h5><%= post.title %></h5>
  <div>
    <small><%= t('comments') %>: <%= post.comments_counter %>,</small>
    <small><%= t('likes') %>: <%= post.likes_counter %></small>
  </div>
</div>
<% end %>