<%= link_to user_post_path(post.user.id, post.id) do %>
<div>
  <p><%= t('post')%> #<%= post.id%></p>
  <h5><%= post.title %></h5>
  <div>
    <small>
      <%= t('comments_counter', count: post.comments_counter ) %>, <%= t('likes_counter', count: post.likes_counter) %>
    </small>
  </div>
</div>
<% end %>