<%= render "header", post: @post %>
<div class="is-flex is-flex-direction-row is-justify-content-space-between is-flex-wrap-wrap my-3">
  <div class="media is-flex is-align-items-center">
    <div class="media-left">
      <div class="image is-32x32">
        <%= image_tag(get_photo(@user), alt: "avatar", class: "is-rounded") %>
      </div>
    </div>
    <div class="media-content">
      <div class="content">
        <strong><%= @user.name %></strong>
        <p class="is-size-7 is-italic"><%= t('posted_on', date: @post.created_at.to_s(:nice_date)) %></p>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <h1><%= @post.title %></h1>
  <p><%= @post.text %></p>
</div>
<%= render partial: "new_comment", post: @post %>
<%= render partial: "shared/comment", collection: @comments %>
